h1,h2,h3{color:red;
         font-weight:12px;
         bold;}
body{background-color:#A68064;
     width:960px;
     margin-left:auto;
     margin-right:auto;
     border-width:1px;
     border-style:solid;
     border-color:#5C3317;
     border-radius:5px
     padding-left:20px
     padding-right:20px}
table{color:#9F5F9F;
      italic;
      font-weight:7px;}
p{color:blue;
  font-weight:7px;}
div img{width:200px;
       border:1px solid #4F4F2F;
       padding-left:10px;
       padding-right:10px;}
